* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {
  height: 100px;
  width: 418px;
  background: #7fbcd2;
  margin: 0.25rem auto;
  color: white;
  font-size: 3rem;
  text-align: right;
  padding: 25px 0;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.num-buttons {
  width: 320px;
}
.btn {
  border: transparent solid 1px;
  height: 75px;
  width: 100px;
  border-radius: 5%;
  background: #dbe2ef;
  font-size: 2rem;
  display: inline-block;
  margin: 0.25rem 0;
  color: #903749;
  transition: all 0.25s;
}
.operators {
  display: flex;
  flex-direction: column;
}
.special {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.btn.clear {
  width: 200px;
}
.btn.delete {
  width: 200px;
}

.btn:hover {
  background: #f9f7f7;
}
